/* styles.css */

body {
    background-image: url('image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Tło z przezroczystością */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Przezroczystość dla tła */
    z-index: -1; /* Ustawienie tła za treścią */
}

/* Styl dla tabelki */
table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color: black;
}
/* Styl dla wiersza nagłówków kolumn */
th {
    background-color: rgba(242, 242, 242, 0.6);
}

td .error {
     color: red !important;
}

 .editable {
            border: 2px solid #ccc; /* Ramka dla edytowalnych pól */
            padding: 5px;
            display: inline-block; /* Aby zachować wysokość pola */
        }

